.sign-up {
  width: 100%;
  max-width: 1232px;
  background-color: var(--background-color);
  padding: 51px 24px 52px;
  margin: 0 auto;
  position: relative;
  order: 4;
}

.sign-up__content-wrapper {
  display: flex;
  align-items: center;
}

.sign-up__circle {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-color: var(--text-general-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up__user {
  width: 50px;
  height: 44px;
}

.sign-up__text-button {
  margin-left: 24px;
}

.sign-up__text {
  font-weight: 500;
  font-size: 24px;
  color: var(--text-primary-color);
  margin-bottom: 20px;
}

.sign-up__text span {
  display: none;
}

.sign-up__button {
  width: 100%;
  max-width: 128px;
  height: 48px;
  background-color: var(--text-general-white);
  border: 1px solid var(--accent-blue);
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;
  color: var(--accent-blue);
}

.sign-up__close {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 24px;
  right: 24px;
}

.sign-up__logo {
  width: 0;
  height: 0;
}

.sign-up__install {
  opacity: 0;
}
