.header-wrap {
  background-color: var(--general-blue);
}

.hotel-page {
  display: flex;
  gap: 60px;
  margin: 60px 0;
}

.hotel-page__image {
  width: 700px;
}

.hotel-page__description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 25px;
}

.hotel-page__name {
  font-weight: 400;
  font-size: 46px;
  color: var(--accent-blue);
}

.hotel-page__location {
  font-weight: 400;
  font-size: 28px;
  color: var(--text-secondary-color);
}
