.top-section__form {
  max-width: 1232px;
  height: 64px;
  background-color: var(--text-general-white);
  border: 3px solid var(--stroke-color);
  border-right-width: 0;
  border-radius: 8px;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.top-section__label-destination {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-general-white);
  position: absolute;
  top: -48px;
  left: 22px;
}

.top-section__input-destination {
  width: 39%;
  height: 64px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 22px 24px;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-primary-color);
}

.top-section__input-destination::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-primary-color);
}

.top-section__input-destination:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.top-section__input-destination:focus {
  outline: none;
}

.top-section__label-check-in-out {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-general-white);
  position: absolute;
  top: -48px;
  left: 38%;
}

.top-section__room {
  width: 29%;
  display: flex;
  position: relative;
}

.top-section__input-room-dash {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-primary-color);
  padding: 21px 5px;
}

.top-section__label-adults {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-primary-color);
  position: absolute;
  left: 47px;
  top: 21px;
}

.top-section__input-adults {
  width: 34%;
  height: 64px;
  border: none;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-primary-color);
}

.top-section__input-adults::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-primary-color);
}

.top-section__input-adults:focus {
  outline: none;
}

.top-section__line {
  width: 0;
  height: 0;
}

.top-section__children {
  width: 33%;
  position: relative;
}

.top-section__label-children {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-primary-color);
  position: absolute;
  left: 25px;
  top: 21px;
}

.top-section__input-children-room {
  width: 100%;
  height: 64px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-primary-color);
}

.top-section__input-children-room::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-primary-color);
}

.top-section__input-children-room:focus {
  outline: none;
}

.top-section__form-room {
  width: 33%;
  padding-right: 24px;
  position: relative;
}

.top-section__label-room {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-primary-color);
  position: absolute;
  left: 25px;
  top: 21px;
}
