.circle-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--stroke-color);
  box-shadow: 0 2px 5px rgba(56, 56, 56, 50);
  position: absolute;
  top: 23%;
  right: -20px;
}

.arrow {
  width: 13px;
  height: 13px;
  border: 2px solid var(--text-primary-color);
  border-left: 0;
  border-top: 0;
  border-bottom-right-radius: 2px;
  transform: rotate(-45deg) skew(-10deg, -5deg) translate(15%, 135%);
}
