.reviews {
  order: 5;
}

.reviews__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 117%;
  color: var(--text-primary-color);
  text-align: center;
  padding-top: 120px;
  margin-bottom: 112px;
}

.reviews__blocks {
  display: flex;
  margin-bottom: 120px;
  position: relative;
}

.reviews__review-block {
  background-color: var(--background-color);
  padding-bottom: 24px;
}

.reviews__img {
  width: 100%;
  height: 400px;
  margin-bottom: 24px;
  position: relative;
}

.reviews__price {
  width: 100%;
  height: 48px;
  background-color: rgba(56, 56, 56, 0.7);
  padding: 16px 24px 11px;
  position: absolute;
  bottom: 0;
}

.reviews__price > p {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-general-white);
}

.reviews__price span {
  font-weight: 500;
}

.reviews__review-block:first-child {
  margin-left: 0;
}

.reviews__review-block:last-child {
  margin-right: 0;
}

.reviews__hotel {
  display: flex;
  justify-content: space-between;
  margin: 0 24px 29px;
}

.reviews__hotel-name {
  font-weight: 500;
  font-size: 18px;
  color: var(--accent-blue);
  margin-bottom: 16px;
}

.reviews__hotel-location {
  font-weight: 400;
  font-size: 18px;
  color: var(--accent-blue);
}

.reviews__rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.reviews__score {
  width: 48px;
  height: 32px;
  background-color: var(--general-blue);
  border-radius: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__score > span {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-general-white);
}

.reviews__amount {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-secondary-color);
}

.reviews__name {
  display: flex;
  align-items: center;
  gap: 21px;
  margin: 0 29px 22px;
}

.reviews__user-logo {
  width: 53px;
  height: 53px;
}

.reviews__user-name {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-primary-color);
  margin-bottom: 8px;
}

.reviews__country {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-secondary-color);
}

.reviews__country img {
  width: 16px;
  height: 13px;
  margin-right: 8px;
}

.reviews__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  color: var(--text-primary-color);
  margin: 0 24px;
}

.reviews__circle-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--stroke-color);
  box-shadow: 0 2px 5px rgba(56, 56, 56, 50);
  position: absolute;
  top: 24%;
  right: -20px;
}

.reviews__arrow {
  width: 13px;
  height: 13px;
  border: 2px solid var(--text-primary-color);
  border-left: 0;
  border-top: 0;
  border-bottom-right-radius: 2px;
  transform: rotate(-45deg) skew(-10deg, -5deg) translate(15%, 135%);
}
