.top-section__filter-select {
  width: 96px;
  height: 30px;
  border: 1px solid #3077c6;
  padding: 4px;
  margin-top: 16px;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #333333;
  display: inline-block;
}

.top-section__filter-select:focus {
  outline: none;
}

.top-section__filter-select:nth-child(even) {
  margin-right: 16px;
}
