.top-section__filter-select {
  width: 99px;
  height: 30px;
  border: 1px solid #3077c6;
  padding: 6px;
  margin-top: 15px;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: var(--dark-grey);
  display: inline-block;
}

.top-section__filter-select:focus {
  outline: none;
}

.top-section__filter-select:nth-child(even) {
  margin-right: 13px;
}
