.header__logo {
  width: 205px;
  height: 40px;
}

.header__night {
  width: 30px;
  height: 30px;
}

.header__account {
  width: 40px;
  height: 40px;
}

.header__menu {
  display: none;
}

.top-section__apps--app-store {
  width: 120px;
  height: 40px;
}

.top-section__apps--google-play {
  width: 135px;
  height: 40px;
}
