.sign-in {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: var(--text-general-white);
  border: 1px solid #cecece;
  margin: 0 auto;
}

.sign-in__title {
  font-size: 24px;
  font-weight: 500;
  color: var(--dark-gray);
  padding: 36px 0 40px;
  margin: 0 auto;
}

.sign-in__form {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.sign-in__label {
  font-size: 16px;
  line-height: 19px;
  color: var(--dark-gray);
  margin-bottom: 8px;
}

.sign-in__text-field {
  height: 41px;
  background: var(--text-general-white);
  border: 2px solid var(--light-gray);
  border-radius: 8px;
  padding: 0 16px;
  margin-bottom: 16px;
}

.sign-in__text-field:last-of-type {
  margin-bottom: 24px;
}

.sign-in__button {
  max-width: 320px;
  height: 48px;
  background: var(--accent-blue);
  border: none;
  border-radius: 8px;
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 24px;
  color: var(--text-general-white);
  cursor: pointer;
}
