.footer {
  background-color: var(--general-blue);
  order: 6;
}

.footer__footer-logo {
  display: none;
}

.footer__lists {
  display: flex;
  padding-top: 120px;
}

.footer__lists ul:nth-child(1) {
  margin-left: 0;
}

.footer__lists ul:nth-child(3) {
  margin-right: 0;
}

.footer__lists ul {
  list-style: none;
  color: var(--text-general-white);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  margin-bottom: 64px;
  padding-left: 0;
}

.footer__lists ul li {
  margin-bottom: 24px;
}

ul li:last-child {
  margin-bottom: 0;
}

ul li:first-child {
  font-weight: 500;
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-general-white);
  padding-bottom: 120px;
}
