.homes {
  background-color: var(--background-color);
  order: 2;
}

.homes__hotels {
  display: flex;
  position: relative;
}

.homes__hotels .homes__hotel-block:first-child {
  margin-left: 0;
}

.homes__hotels .homes__hotel-block:nth-child(4) {
  margin-right: 0;
}

.homes__hotels .homes__hotel-block:nth-child(n + 5) {
  display: none;
}
