.top-section {
  background-image: url('../../assets/images/top-section-background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  order: 0;
}

.top-section__container {
  padding-top: 202px;
}
