@import url('./fonts.css');

:root {
  --text-primary-color: #383838;
  --text-general-white: #ffffff;
  --text-secondary-color: #bfbfbf;
  --stroke-color: #f3f3f4;
  --accent-yellow: #f5bd41;
  --accent-blue: #3077c6;
  --dark-grey: #333333;

  --col-width: calc(100% / 12);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.col-lg-1 {
  width: var(--col-width);
}

.col-lg-2 {
  width: calc(var(--col-width) * 2);
}

.col-lg-3 {
  width: 25%;
}

.col-lg-4 {
  width: calc(var(--col-width) * 4);
}

.col-lg-5 {
  width: calc(var(--col-width) * 5);
}

.col-lg-6 {
  width: 50%;
}

.col-lg-7 {
  width: calc(var(--col-width) * 7);
}

.col-lg-8 {
  width: calc(var(--col-width) * 8);
}

.col-lg-9 {
  width: 75%;
}

.col-lg-10 {
  width: calc(var(--col-width) * 10);
}

.col-lg-11 {
  width: calc(var(--col-width) * 11);
}

.col-lg-12 {
  width: 100%;
}

[class*='col-'] {
  margin-left: 8px;
  margin-right: 8px;
}
